/* for block of numbers */
.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  vertical-align: top;
  color: #aaa;
  padding-right: 25px!important;

  /* your custom style here */
}

/* for block of code */
.hljs-ln-code {
  padding-left: 1em;
}

.wp-block-code{
  tr{
    line-height: 1.5em;
  }
  .hljs-ln{
    &:before{
      content:'';
      width: 1px;
      height:100%;
      background-color: rgba(255,255,255,.2);
      position: absolute;
      left: 35px;
      top: 0;
    }
  }
}
