.el-menu--horizontal > .el-menu-item,
.el-menu--horizontal > .el-submenu .el-submenu__title,
.el-menu--horizontal .el-menu .el-menu-item,
.el-menu--horizontal > .el-submenu .el-submenu__title a,
.el-menu--horizontal .el-menu .el-menu-item a {
  color: #f9f9f9 !important;
}

.el-menu--horizontal .el-menu .el-menu-item {
  text-align: center;
}
.el-menu--horizontal .el-menu .el-menu-item.sub-title {
  border-bottom: 1px solid lighten($color: rgb(55, 57, 56), $amount: 20%);
  font-size: 16px;
  height: 40px;
  line-height: 40px;
}

.el-menu--popup-bottom-start {
  margin-top: 0;
}
.el-menu--popup {
  padding: 0;
}
