@font-face {
  font-family: 'iconfont';  /* project id 1979540 */
  src: url('//at.alicdn.com/t/font_1979540_o3dfwljtvn.eot');
  src: url('//at.alicdn.com/t/font_1979540_o3dfwljtvn.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1979540_o3dfwljtvn.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1979540_o3dfwljtvn.woff') format('woff'),
  url('//at.alicdn.com/t/font_1979540_o3dfwljtvn.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1979540_o3dfwljtvn.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-comment:before {
  content: "\e635";
}

.icon-tag:before {
  content: "\e62b";
}

.icon-category:before {
  content: "\e610";
}

.icon-github:before {
  content: "\e677";
}

.icon-sign:before {
  content: "\e63f";
}
.icon-fork:before {
  content: "\e6d0";
}
.icon-language:before {
  content: "\e757";
}
.icon-start:before {
  content: "\e605";
}

.icon-top:before {
  content: "\e61f";
}

.icon-qrcode:before {
  content: "\e648";
}
.icon-phone:before{
  content: "\e701";
}